.fullpage {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fullpage__inner {
    max-width: 500px;
    margin: 0 auto;
}

.content-wrapper {
    padding-top: 50px;
}